<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Start_HD_SDT_1._3.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Start_HD_SDT_1._3.Settings1>
            <setting name="flash" serializeAs="String">
                <value>flashplayer_10_3r183_90_win_sa.exe</value>
            </setting>
            <setting name="loader" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="resolution" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="priority" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="affinity" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="scale" serializeAs="String">
                <value>100</value>
            </setting>
        </Start_HD_SDT_1._3.Settings1>
    </userSettings>
</configuration>